torch==1.13.1+cu116
torchvision==0.14.1+cu116
torchaudio==0.13.1+cu116
numpy==1.24.3
scipy==1.14.1
Pillow==9.5.0
opencv-python==4.9.0.80
PyYAML==6.0.1
Requests==2.32.3
tqdm
pyiqa==0.1.13
basicsr==1.4.2
einops==0.8.0
ftfy==6.2.0
timm==0.9.16

pytorch-lightning==1.9.5
torchmetrics==0.11.4
accelerate==0.34.2
peft==0.5.0
torch-optimizer==0.3.0
pytorch-msssim==1.0.0
torchstat==0.0.7
torchsummary==1.5.1
pytorch-ranger==0.1.1
torchsde==0.2.6

transformers==4.45.2
diffusers==0.27.2
huggingface_hub==0.36.2
fastapi==0.115.11
Flask==3.0.3
gradio
gradio_client
rich
six
ptflops==0.6.4
lpips==0.1.4
natsort==7.1.1
tensorboardX
llamaapi==0.1.36
easydict==1.13
setuptools==72.1.0
thop
facexlib
realesrgan
omegaconf==2.3.0
openai
outlines==0.2.1
datasets==3.4.0
hpsv2==1.2.0
termcolor
scikit-learn
bitsandbytes==0.45.0
typing-extensions==4.15.0

jax==0.4.20
jaxlib==0.4.20
flax==0.7.5
ml-collections==1.1.0